@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --light-primary: #4475F2;
  --dark-primary: #181E4B;
  --text-color: #5E6282;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
  cursor: pointer;
}
 a {
  text-decoration: none;
}

/* nav { */
/*   display: flex; */
/*   flex-direction: column; */
/* } */

.line {
  height: 1px;
  width: 100%;
  background-color: #F0F1F2;
  display: block;
}

.container {
  display: flex;
  margin: 0 100px;
  padding: 24px 0;
  align-items: center;
  /* background-color: tan; */
  gap: 40px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  /* background-color: crimson; */
  gap: 10px;
}

#search {
  padding: 12px 22px;
  width: 100%;
  /* margin: 0 20px; */
  border-radius: 30px;
  border: none;
  background-color: #F0F1F2;
}

select {
  cursor: pointer;
  border: none;
  background: transparent;
  /* padding: 10px; */
}

.lang, .lokasi {
  display: flex;
  align-items: center;
}

.lang select, .lokasi select {
}

.category {
  display: flex;
  /* background-color: teal; */
  width: 100%;
  gap: 40px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttons button {
  font-size: 20px;
  display: flex;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

button#bag {
  background-color: var(--light-primary);
  color: white;
}

button#user {
  color: var(--light-primary);
}

.hero {
  display: flex;
  margin-left: 100px;
}

.desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.explore {
  padding: 10px 15px;
  border-radius: 39px;
  background: #E5EDFF;
  width: max-content;
  text-decoration: none;
  font-weight: bold;
  color: var(--light-primary);
}

.heading {
  color: var(--dark-primary);
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 89px; /* 117.105% */
  letter-spacing: -3.04px;
}

.heading span {
  color: var(--light-primary);
}

button#mulai {
  background-color: var(--light-primary);
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

button#putar {
  padding: 15px 20px;
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 16px;
  color: var(--text-color);
}

.bi-play-fill {
  padding: 5px 8px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  margin-right: 5px;
}

section {
  margin: 0 100px;
}

section#partner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: coral; */
}

section#favorite >header {
  display: flex;
  /* background-color: crimson; */
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 800;
  color: var(--light-primary);
}

.caption {
  color: #14183E;
/* font-family: Manrope; */
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 138.889% */
  letter-spacing: -0.36px;
}

.wrap {
  display: flex;
  justify-content: space-between;
}


