@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --light-primary: #4475F2;
  --dark-primary: #181E4B;
  --text-color: #5E6282;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
  cursor: pointer;
}
 a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* nav { */
/*   display: flex; */
/*   flex-direction: column; */
/* } */

.line {
  height: 1px;
  width: 100%;
  background-color: #F0F1F2;
  display: block;
}

.container {
  display: flex;
  margin: 0 100px;
  padding: 24px 0;
  align-items: center;
  /* background-color: tan; */
  gap: 40px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  /* background-color: crimson; */
  gap: 10px;
}

#search {
  padding: 12px 22px;
  width: 100%;
  /* margin: 0 20px; */
  border-radius: 30px;
  border: none;
  background-color: #F0F1F2;
}

select {
  cursor: pointer;
  border: none;
  background: transparent;
  /* padding: 10px; */
}

.lang, .lokasi {
  display: flex;
  align-items: center;
}

.lang select, .lokasi select {
}

.category {
  display: flex;
  /* background-color: teal; */
  width: 100%;
  gap: 40px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttons button {
  font-size: 20px;
  display: flex;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

button#bag {
  background-color: var(--light-primary);
  color: white;
}

button#user {
  color: var(--light-primary);
}

.hero {
  display: flex;
  margin-left: 100px;
}

.desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.explore {
  padding: 10px 15px;
  border-radius: 39px;
  background: #E5EDFF;
  width: max-content;
  text-decoration: none;
  font-weight: bold;
  color: var(--light-primary);
}

.heading {
  color: var(--dark-primary);
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 89px; /* 117.105% */
  letter-spacing: -3.04px;
}

.heading span {
  color: var(--light-primary);
}

button#mulai {
  background-color: var(--light-primary);
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

button#putar {
  padding: 15px 20px;
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 16px;
  color: var(--text-color);
}

.bi-play-fill {
  padding: 5px 8px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  margin-right: 5px;
}

section {
  margin: 30px 100px;
}

section#partner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: coral; */
}

section#favorite >header {
  display: flex;
  /* background-color: crimson; */
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 800;
  color: var(--light-primary);
}

.caption {
  color: #14183E;
/* font-family: Manrope; */
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 138.889% */
  letter-spacing: -0.36px;
}

.wrap {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}

.mark {
  min-width: 278.462px;
  min-height: 392.365px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.txt {
  border-radius: 0px 6px 0px 0px;
  background: rgba(255, 255, 255, 0.70);
  backdrop-filter: blur(5px);
  width: 50%;
  padding: 10px 0;
  padding-left: 15px;
}

.txt p {
  color: #80918E;
}

#rajaampat {
  background: url(assets/rajaampat.png);
}

#labuanbajo {
  background: url(assets/labuanbajo.png);
}

#kawahijen {
  background: url(assets/kawahijen.png);
}

#bromo {
  background: url(assets/bromo.png);
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

ul.how {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--text-color);
}

ul.how li {
  display: flex;
  gap: 20px;
  align-items: center;
}

ul.how li .icon{
  display: flex;
  align-items: center;
  padding: 8px 10px;
  height: max-content;
  border-radius: 13px;
  background-color: #EFE0B4;
  font-weight: bold;
  font-size: 20px;
}

ul.how span {
  font-weight: bold;
}

.right {
  width: max-content;
}

.card {
  /* background-color: white; */
  z-index: 1;
  padding: 20px 25px;
  border-radius: 26px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.card > img {
  width: 344.628px;
  height: 172.851px;
  border-radius: 22px;
}

.card .info {
  display: flex;
  justify-content: space-between;
}

.card .options i {
  padding: 10px;
  background-color: var(--circle, #F5F5F5);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
}

.ongoing {
  display: flex;
  gap: 10px;
  position: relative;
  float: right;
  bottom: 40%;
  left: 30%;
  padding: 15px 20px;
  border-radius: 18px;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  z-index: 5;

}
