@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Volkhov:wght@700&display=swap");

:root {
  --main-bg-color: #1a1c22;
  --text-color: #fef4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--main-bg-color);
}

h4 {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 180% */
  letter-spacing: -0.3px;
}

.body-p {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.24px;
}

.btn-primary {
  color: #fef4f4;
  font-family: Montserrat;
  padding: 9px 28px;
  border-radius: 15px;
  background: linear-gradient(96deg, #bc0e19 7.77%, #db202c 91.68%);
  box-shadow: 0px 5px 25px 0px rgba(192, 30, 41, 0.5);
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.27px;
}

.sub-title {
  /* Tittle */
  font-family: Volkhov;
  /* font-size: 40px; */
  font-size: 2.5em;
  font-style: normal;
  font-weight: bold;
  line-height: 180%; /* 180% */
}

/* Container */
.container {
  display: flex;
  /* gap: 25px; */
  justify-content: space-between;
}
.container .card {
  display: flex;

  /* width: max-content; */
  /* display: inline-flex; */
  flex-direction: column;
  width: 250px;
  background-color: #1f2127;
  border-radius: 30px;
  padding: 24px;
  gap: 15px;
  /* justify-content: space-between; */
  /* height: min-content; */
}

/* .container > .card > img { */
/*   width:50px; */
/* } */

.container > .card > .card-title {
  /* font-size: 18px; */
  font-family: Montserrat;
  font-style: normal;
  /* background-color: coral; */
  /* font-weight: bold; */
  /* font-weight: 500; */
  /* line-height: 30px; /* 166.667% */
  letter-spacing: -0.27px;
}
.container .card-desc {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: lighter;
  /* line-height: 30px; /* 214.286% */
  letter-spacing: -0.21px;
  text-align: justify;
}

nav {
  display: flex;
  /* background-color: cornsilk; */
  /* border: 1px solid cornsilk; */
  justify-content: space-between;
  margin: 30px 80px;
  align-items: center;
}
.nav-menu {
  display: flex;
  gap: 24px;
}

.nav-menu > a {
  color: var(--text-color);
  font-family: Montserrat;
}

.nav-buttons {
  display: flex;
  gap: 24px;
}

.nav-buttons > select {
  background: none;
  cursor: pointer;
  color: var(--text-color);
  border: none;
  font-size: 16px;
}

.nav-buttons > select > option {
  cursor: pointer;
  background: var(--main-bg-color);
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  gap: 150px;
  color: var(--text-color);
}
section {
  /* padding: 0 40px; */
  /* background-color: cornflowerblue; */
  margin: 0 80px;
}
.hero-section {
  display: flex;
  align-items: center;
  /* gap: 60px; */
  /* background-color: cornflowerblue; */
}

.hero-section > .left {
  width: 50%;
  /* background-color: chocolate; */
  /* padding-right: 30px; */
  /* padding: 0 30px; */
}
.left > .txt-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.txt-hero > button {
  width: max-content;
  /* font-weight: bold; */
}
.left h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: left;
}
.left p {
  /* margin-bottom: 20px; */
  font-family: Montserrat;
  /* font-size: 1.5em; */
}

.hero-section > .right {
  width: 50%;
  /* background-color: orangered; */
  /* height: 600px; */
  display: flex;
  /* padding-top: 20px; */
  justify-content: flex-end;
}

.img-hero {
  /* background: linear-gradient(229deg, #5064A0 14.24%, #1A1C22 95.13%); */
  /* background: #5064A0; */
  display: flex;
  /* clip-path: circle(50%); */
  /* width: 100%; */
  padding-top: 60px;
  height: 450px;
  justify-content: center;
  align-items: center;
}

.img-hero img {
  height: 500px;
  /* clip-path: circle(50%); */
  /* background-color: crimson; */
}

.img-hero .circle {
  background-color: green;
  height: 700px;
  /* width: 500px; */
  position: relative;
}

/* Services */
.services .service-title {
  margin: 0 auto;
  width: 50%;
}
.services h1 {
  text-align: center;
  /* Tittle */
  /* font-family: Volkhov; */
  /* font-size: 40px; */
  /* font-size: 2.5em; */
  /* font-style: normal; */
  /* font-weight: bold; */
  /* line-height: 180%; /* 180% */
  /* letter-spacing: -0.6px; */
  margin-bottom: 40px;
  /* width: 50%; */
}
.services > .container > .card > img {
  width: 50px;
}

/* Banner section */
.banner-section {
  display: flex;
  /* background-color: coral; */
  align-items: center;
  /* justify-content: space-between; */
}

/* .ellipse-3, */
/* .ellipse-3 * { */
/*   box-sizing: border-box; */
/* } */
.ellipse {
  background: rgba(95, 122, 219, 0.8);
  border-radius: 50%;
  width: 519px;
  height: 519px;
  /* position: relative; */
  position: absolute;
  left: 15%;
  z-index: -9;
  filter: blur(50px);
}
.banner-section > h1 {
  margin-left: 20px;
}

/* Films Section */
.films-section .img-movie {
  /* background-color: cornflowerblue; */
  border-radius: 15px;
  /* width: 242px; */
  /* height: 155px; */
}
.films-section .rate {
  display: flex;
  gap: 10px;
}

/* Packet Section */
.paket-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #1f2127;
  border-radius: 30px;
  padding: 24px;
}

.paket-card > ul > li {
  display: flex;
  gap: 10px;
}
.paket-card > .paket-price {
  display: flex;
  align-items: baseline;
}
.price {
  color: #db202c;

  /* Body P Large */
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 156.25% */
  letter-spacing: -0.48px;
}
